:host {
  --loading-color: var(--ant-text-color);
  color: black;
  ::ng-deep {
    .ant-input-affix-wrapper {
      border-radius: 0.6rem;
    }
    .ant-btn-primary {
      border-radius: 0.6rem;
    }
    .ant-input {
      border-radius: 0.6rem;
    }
  }
}

.action-btn:hover {
  --loading-color: var(--ant-primary-color);
}

nz-card {
  border-radius: 0.6rem;
  ::ng-deep .ant-card-body {
    @apply flex flex-col items-stretch gap-3 px-12 py-8;
  }
}

.google {
  img {
    width: 1.25rem;
  }
}
