.container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1rem;
  padding: 0 1rem;
  &.no-logo {
    grid-template-columns: 1fr !important;
    > .content {
      width: 100%;
      justify-self: center !important;
    }
  }
}

.content {
  justify-self: stretch;
}

@media (min-width: 768px) {
  /* Styles for screens between 768px and 1024px */
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 0 3rem;
  }
  .content {
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  /* Styles for screens beyond 1024px */
  .container {
    gap: 4rem;
    padding: 0 5rem;
  }
  .content {
    justify-self: flex-end;
  }
}
