<div class="tw-flex tw-items-center tw-justify-between tw-w-full tw-h-full">
  <div class="tw-flex tw-items-center tw-gap-6">
    <div class="tw-cursor-pointer">
      <span nz-icon
        class="tw-text-tertiary"
        nzTheme="outline"></span>
    </div>
    <div class="tw-flex tw-items-center tw-gap-3">
      <span nz-icon
        nzType="left"
        class="tw-cursor-pointer"
        nzTheme="outline"></span>
      <span nz-icon
        class="tw-cursor-pointer"
        nzType="right"
        nzTheme="outline"></span>
    </div>
  </div>

  <div class="tw-flex tw-items-center tw-gap-3">

  </div>
